<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>0000FD7D-0000-1000-8000-00805F9B34FB</string>
		<string>110B</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_bonjour._tcp</string>
		<string>_lnp._tcp.</string>
		<string>_tmcbattery._tcp</string>
		<string>_tmcbattery._udp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>nearby-interaction</string>
	</array>
</dict>
</plist>
